<!--src/layouts/admin/Base.astro-->
---
import "../../styles/global.css"
const { pageTitle="ទំព័រ​គ្រឹះ" } = Astro.props
import Footer from "../Footer.astro"
import Header from "./Header.astro"
import Menu from "./Menu.astro"
import Bottom from "./Bottom.astro"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <link rel="icon" href="/images/siteLogo.png" />
        <link href="/fonts/setup.css" rel="stylesheet" />
        <script is:inline src="/scripts/jquery.js"></script>
    </head>
    <body class="text-sm leading-normal bg-gray-300">
        <Header pageTitle={pageTitle}/>
        <div class="max-w-5xl mx-auto flex md:flex-row flex-col mt-5 md:px-0 px-2">
            <Menu/>
            <slot/>
        </div>
        <Bottom/>
        <Footer/>
    </body>
</html>