<!--src/layouts/admin/Menu.astro-->
---
---

<section class="md:w-1/4 w-full p-3 bg-teal-100">
    <div class="">
        <div class="grid grid-cols-[45px_auto] items-center gap-x-3 gap-y-4 
        font-display text-[16px] text-gray-600">
            <a href="/amin/post" class="hover:opacity-75">
                <img class="" src="/images/movie.png" />
            </a>
            <a href="/admin/post" class="hover:opacity-75 w-full">
                ការផ្សាយ
            </a>

            <a href="/amin/page" class="hover:opacity-75">
                <img class="" src="/images/page.png" />
            </a>
            <a href="/admin/page" class="hover:opacity-75">
                ទំព័រ​ស្តាទិក
            </a>

            <a href="/amin/category" class="hover:opacity-75">
                <img class="" src="/images/category.png" />
            </a>
            <a href="/admin/category" class="hover:opacity-75">
                ជំពូក
            </a>

            <a href="/amin/upload" class="hover:opacity-75">
                <img class="" src="/images/upload.png" />
            </a>
            <a href="/admin/upload" class="hover:opacity-75">
                Upload
            </a>

            <a href="/amin/user" class="hover:opacity-75">
                <img class="" src="/images/users.png" />
            </a>
            <a href="/admin/user" class="hover:opacity-75">
                អ្នក​និពន្ធ
            </a>

            <a href="/amin/setting" class="hover:opacity-75">
                <img class="" src="/images/setting.png" />
            </a>
            <a href="/admin/setting" class="hover:opacity-75">
                Setting
            </a>
        </div>
    </div>
</section>